#header {
    background-color:#ADB96E;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.myIcon{
    font-size:1.5em; 
    color: white;   
    margin-left: 15px;
}
.searchBox {
    margin-left: 20px;
    height: 34px;
    border-radius: 17px;
    border-width: 0px;
    padding-left: 30px;

}